.App {
  width: 100%;
}

.App-header {
  text-align: center;
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  padding: 16px;
}

.Library-title {
  margin: 16px;
}

.Books-library {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.All-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 32px;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
