.Book-item{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.Book-cover {
    border-radius: 10px;
    max-width: 120px;
    object-fit:cover;
}

.Book-title{
    margin-bottom: 16px;
    font-size: 1.5rem;
}